<div class="course-card" [ngClass]="cardClasses()">
  <!-- [ngStyle]="cardStyles()"> -->
  <!-- in ngclass we can pass multiple classnmaes by string , array and object
  ,method can called
  ngclass is used to conditinal css
    example
    <div class="course-card" [ngClass]="'beginner'">
  <div class="course-card" [ngClass]="'beginner'  'course-card'">
  <div class="course-card" [ngClass]=['beginner','course-card']>
  <div class="course-card" [ngClass]={'beginner':true,'course-card':false}>
    <div class="course-card" [ngClass]="cardClasses()">
  -->

  <div class="course-title" [ngStyle]="cardStyles()">
    {{ index }} {{ course.description }}
  </div>

  <!-- in 
    example
    <div class="course-title" [style.text-decoration]="'underline'">
  <div class="course-title" [ngStyle]="{ 'text-decoration': 'underline' }">
      <div class="course-title" [ngStyle]="cardStyles()">
  -->

  <!-- ngif ngfor is also there -->
  @if(course.iconUrl){
  <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
  } @else {
  <h2>No image available!!</h2>
  }

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <div class="course-category">
    @switch(course.category){ @case("BEGINNER"){
    <div class="category">Beginner</div>
    } @case("INTERMEDIATE"){
    <div class="category">INTERMEDIATE</div>
    } @case("ADVANCED"){
    <div class="category">ADVANCED</div>
    } @default {
    <div class="category">Unknown</div>
    } 
  }
  </div>

  <button (click)="onCourseViewed()">View Course</button>
</div>

<!-- <div class="course-card" beginner *ngIf="course">
  
  <div class="course-title">{{ index +' ' +course.description }}</div> -->

<!-- ngif ngfor is also there -->

<!-- <img width="300" alt="Angular Logo"
  *ngIf="isImageVisible(); else noImage" [src]="course.iconUrl" />

  <ng-template #noImage>
    <p>No Image is available</p>
  </ng-template>
  

  <div class="course-description">
    {{ course.longDescription }}
  </div> -->

<!-- <button (click)="onCourseViewed()">View Course</button> -->
<!-- </div> -->
